.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0 0 0;
    width: 100vw;
    margin: 0;
    background-color:#3E80A8;
    color: aliceblue;
    height: 200px;
    align-items: center;
    bottom: 0;
    box-shadow: 10px 0 0 0 black;
   
    
}
.footer > div > h6{
    font-size: 25px;
   
    
}
.footer > div > p{
    font-size: 12px
}